*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
#parent{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: "header header header"
                         "main main main" 

}
header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#links a{
    padding-right: 2rem;
}
#buttons button{
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 15px;
    color: white;
    background-color: rgb(1, 16, 44);
}
.talk-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Circular icon styling */
.talk-btn i {
  display: inline-flex;              /* enables flexbox centering */
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 140, 250);          /* circle background */
  color: black;         /* icon color */
  border-radius: 50%;                /* makes it circular */
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.7rem;                   /* size of the icon */
}
main{
    grid-area: main;
}
#parent2{
    margin: 1rem;
    display: inline-block;
}
#parent2 h1{
    width: 40vw;
    font-size: 4rem;
}
#parent2 button{
    position: absolute;
    top: 40%;
    left: 22%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: transparent;
}
#parent3 button{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0px 1rem;
    background-color: rgb(0, 4, 10);
    color: white;
}
#parent3 a{
    padding: 0px 1.5rem;
}
#parent3 p{
    margin: 4rem 1rem;
    width: 50vw;
}
#parent3 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 800;
}
section div{
    display: inline-block;
    margin: 1rem;
}
#image1{
    position: absolute;
    top: 10%;
    right: 2%;
    object-fit: cover;
}
#image1 img{
    height: 40vh;
    width: 40vw;
    border-radius: 1rem;
}
#image2{
    position: absolute;
    object-fit: cover;
    top: 55%;
    right: 24%;
}
#image2 img{
    height: 28vh;
    width: 18vw;
    border-radius: 1rem;
}
#image3{
    position: absolute;
    object-fit: cover;
    top: 55%;
    right: 2%;
}
#image3 img{
    border-radius: 1rem;
    height: 28vh;
    width: 18vw;
}