*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    color: black;
    display: grid;
    grid-template-columns: 200px 1fr 120px;
    grid-template-rows: 100px 1fr 100px;
    gap: 20px;
    grid-template-areas: "header header section"
                         "nav article article"
                         "nav footer footer";
}
header{
    padding: 20px;
    background-color: crimson;
    grid-area: header;
}
section{
    padding: 20px;
    background-color: orange;
    grid-area: section;
}
article{
    padding: 20px;
    background-color: lightblue;
    grid-area: article;
}
nav{
    padding: 20px;
    background-color: lightseagreen;
    grid-area: nav;
}
footer{
    padding: 20px;
    background-color: maroon;
    grid-area: footer;
}