*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.top.container {
    text-align: center;
    color: white;
    background-color: rgb(0, 17, 66);
    padding: 20px 20px;
}
.text-top {
    padding: 10px 10px; 
}

.about-container {
    text-align: center;
    margin: 50px 250px;
}

.education-container {
    text-align: center;
    background-color: lightblue;
    margin: 50px 250px;
    padding: 20px 20px;
}
.education-text {
    padding: 20px 20px;
}

.skills-container {
    text-align: center;
    margin: 50px 250px;
    background-color: rgb(240, 240, 15);
    padding: 20px 20px;   
}

.projects-container {
    text-align: center;
    margin: 50px 250px;
    background-color: rgb(255, 231, 255);
    padding: 20px 20px;   
}
.projects-text{
    padding: 20px 20px;
}
.contact-container {
    text-align: center;
    margin: 50px 250px;
    background-color: rgb(125, 253, 253);
    padding: 20px 20px;   
}
.contact-text{
    padding: 20px 20px;
}