* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  height: 100%;
  width: 100%;
  // background-color: aquamarine;
  section:nth-child(1) {
    height: 100vh;
    width: 100vw;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      a {
        padding-right: 1rem;
        text-decoration: none;
        color: black;
      }
      h1 {
        color: rgb(2, 117, 31);
      }
      button {
        padding: 5px 20px;
        border-radius: 1rem;
        background-color: rgb(58, 185, 228);
        color: white;
        font-weight: 800;
      }
    }
    #maintext {
      height: 10vh;
      width: 30vw;
      margin: 8rem;
      h1 {
        font-size: 55px;
        color: rgb(2, 117, 31);
        font-weight: 1000;
      }
      button {
        padding: 5px 20px;
        border-radius: 1rem;
        background-color: orangered;
        color: white;
        font-weight: 900;
      }
      img {
        height: 70%;
        position: absolute;
        top: 20%;
        left: 45%;
        border-radius: 2rem;
      }
    }
  }
  section:nth-child(2) {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 95, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 80vh;
      width: 40vw;
      border-radius: 2rem;
      object-fit: cover;
      margin: 1.5rem;
    }
    #textimage {
      height: 20vh;
      width: 30vw;
      color: lightpink;

      h3{
        font-weight: 100;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
      }

      h1{
        font-weight: 1000;
      }
    }
  }
}
