*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
}
#main{
    height: 80%;
    width: 30%;
    
}
#card{
    height: 60%;
    width: 100%;
    margin: 10px;
    background-color: crimson;
    position: relative;
    overflow: hidden;
    
}
#card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#bottom{
    height: 40%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: linear-gradient(transparent, black);
    position: absolute;
    bottom: 100%;
    transition: all ease 0.5s;
}
#card:hover #bottom{
    bottom: 0%;
}